{{> add_course_modal}}

{{#courses}}
    {{> edit_course_modal}}
    {{> participants_course_modal}}
{{/courses}}

{{> add_class_modal}}

{{#classes}}
    {{> edit_class_modal}}
{{/classes}}

{{> timeslot_management_modal timeslots=classInfo.timeslots}}

{{#classes}}
    {{> participants_class_modal}}
{{/classes}}

{{> add_user_modal}}

{{#users}}
    {{> edit_user_modal}}
{{/users}}
