<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="/">Danceright</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {{#active.home}}active{{/active.home}}" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#active.courses}}active{{/active.courses}}" href="/courses">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#active.classes}}active{{/active.classes}}" href="/classes">Classes</a>
                </li>
                {{#user}}
                    <li class="nav-item">
                        <a class="nav-link {{#active.dashboard}}active{{/active.dashboard}}" href="/dashboard">Admin</a>
                    </li>
                {{/user}}
                {{^user}}
                    <li class="nav-item">
                        <a class="nav-link {{#active.login}}active{{/active.login}}" href="/login">Login</a>
                    </li>
                {{/user}}
            </ul>
        </div>
    </div>
</nav>