<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="/">Danceright</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {{#active.home}}active{{/active.home}}" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#active.courses}}active{{/active.courses}}" href="/courses">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#active.classes}}active{{/active.classes}}" href="/classes">Classes</a>
                </li>
                {{#user.isOrganiser}}
                    <li class="nav-item">
                        <a class="nav-link {{#active.dashboard}}active{{/active.dashboard}}" href="/dashboard">Admin</a>
                    </li>
                {{/user.isOrganiser}}
                {{#user}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li class="dropdown-item-text">Hi, {{user.name}}!</li>
                            <li><a class="dropdown-item" href="/manageBookings">Manage Bookings</a></li>
                            <li><a class="dropdown-item" href="/manageProfile">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                        </ul>
                    </li>
                {{/user}}
                {{^user}}
                    <li class="nav-item">
                        <a class="nav-link {{#active.login}}active{{/active.login}}" href="/auth/login">Login</a>
                    </li>
                {{/user}}
            </ul>
        </div>
    </div>
</nav>
