<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
{{#demoMode}}
    <div class="alert alert-info text-center" role="alert">
        Demo Mode Enabled - Admin Credentials: Username: <strong>admin</strong>, Password: <strong>password1234!</strong>
    </div>
{{/demoMode}}

{{> navbar}}

{{#showHero}}
    {{> hero}}
{{/showHero}}
<div class="container mt-4">
    {{{body}}}

    {{#error}}
        <div class="flash-message flash-error">
            {{.}}
        </div>
    {{/error}}
    {{#success}}
        <div class="flash-message flash-success">
            {{.}}
        </div>
    {{/success}}
</div>
{{> footer}}

<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
