<div class="page-content text-center my-5">
    <h2>Welcome to Danceright!</h2>
    <p>Discover a range of dance courses for all levels. Whether you're a beginner or an advanced dancer, we have courses designed for your level. If you don't fancy commiting to a full course, please try one of our Ad-Hoc classes!</p>
    <a href="/courses" class="btn btn-outline-primary">Courses</a>
    <a href="/classes" class="btn btn-outline-primary">Classes</a>
</div>
